{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>

<div class="row">
  {% for product in products %}
  <div class="col-md-4">
    <div class="card mb-3">
      <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price }} ETH</p>
        <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">Деталі</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<a href="/" class="btn btn-secondary">На головну</a>
{% endblock %}
